{% extends 'base.html' %}

{% block content %}
<p class="text">ВАЖНО — Заказ можно забрать только на улице Улица Барболина, 1 к1, 107014, Москва, Сокольники, 4 floors</p>

{% for model in models %}
<div class="product">
  <img src="{{ model.image_url }}" alt="{{ model.name }}" style="max-width:150px; margin-bottom:10px;">
  <h3>{{ model.name }} — {{ model.price }}₽</h3>
  <p>{{ model.description }}</p>
  <a href="{% url 'order' model.id %}" class="button">Купить</a>
</div>
{% endfor %}
{% endblock %}