{% extends 'base.html' %}

{% block content %}
<h2 class="text">{{ model.name }} — {{ model.price }}₽</h2>

<form method="post">
  {% csrf_token %}
  <input class="message_input" name="email" type="email" placeholder="email@example.com" required>
  <input class="message_input" name="first_name" type="text" placeholder="Имя" required>
  <input class="message_input" name="last_name" type="text" placeholder="Фамилия" required>
  <input class="message_input" name="pickup_date" type="text" placeholder="Когда заберёте заказ? (ДД ММ ГГГГ)" required>
    <p>Какие цвета есть:</p>
  <select class="form_section">
    <option>Красный</option>
    <option>Синий*</option>
    <option>Жёлтый</option>
    <option>Серый</option>
    <option>Чёрный</option>
    <option>Белый</option>
    <option>Зелёный</option>
    <option>Разноцветный(3 цвета)</option>
  </select>
  <button class="button" type="submit">Оплатить</button>
</form>

<a href="{% url 'home' %}" class="button" style="background-color:#666; margin-top:10px;">← Назад</a>
{% endblock %}